html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0;
}
.outter{
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(../pic/backofindex.jpg);
    background-size: 100% 100%;
}
.body{
    width: 100%;
    overflow: hidden;
    height: 200%;
    font-size: 26px;
    display: block;
}
.body>div{
    display: flex;
    width: 100%;
    height: 35%;
    position: relative;
}
.body>div>div{
    font-size: 26px;
    width: 10em; 
    height: 10em;
    top: 45%;    
    position: absolute;
}
.body>div>div>p{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
}
.body>div>div>p>a{
    text-decoration: none;
    color: beige;
}
.paint{
    transform: rotate(45deg);
    position: inherit;
    left: 12%;
    background-image: url("../pic/p1.jpg");
    background-size: 100% 100%;
}
.paint>p{
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    margin-left: 1.5em;
}
.pinch{
    position: inherit;
    right: 12%;
    border-radius: 50%;
    background-image: url("../pic/m405.jpg") ;
    background-size: 100% 100%;
}
.me{
    position: inherit;
    left: 15%;
    background-size: 100% 100%;
    background-color: forestgreen;
    opacity: 65%;
}
.message{
    bottom: 12%;
    right: 10%;
    text-align: center;
    width: 0!important;
    height: 0!important;
    border: 8em solid!important;
    opacity: 65%;
    border-color: transparent transparent blueviolet transparent!important;
}
.message>p{
    position: relative;
    left: -0.5em;
    top: 1em;
    color: beige;
}